<?xml version="1.0" encoding="UTF-8"?>
<!-- 처음 가져오는 건 이름을 따로 안 정해도 되지만 이후는 이름을 지정해야 함-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- bean definitions here -->

    <context:component-scan base-package="com.ohgiraffers" />

</beans>